duckdb==1.4.3
et_xmlfile==2.0.0
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
psutil==7.2.1
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
tzdata==2025.3
wheel==0.45.1
xlsxwriter==3.2.5
